<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Lista de Usuarios</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <a href="" class="btn btn-xs btn-success">Alta cliente</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre(s)</th>
                        <th scope="col">Preferencia</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="" class="btn btn-xs btn-success">Detalle</a>
                        </td>
    
                        <td>
                            <a href="" class="btn btn-xs btn-primary">Editar</a>
                        </td>
    
                        <td>
                            <button class="btn btn-xs btn-danger">Eliminar</button>
                        </td>
    
                        <td>
                            <a href="" class="btn btn-xs btn-warning">Ver ventas</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>